@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: "Azeret Mono", monospace;
}
  
html,body{
height: 100%;
width: 100%;
}

.font-color-1{
    color: rgba(13, 19, 33, 1);
}

.lii ul{
    list-style: none;
}
.lii ul li button{
    padding: 17px 24px;
}
.lii ul li button a{
    text-decoration: none;
    
    /* margin: 20px 30px; */
    /* padding: 17px 24px; */
}
.li{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
    align-items: center;
    
}

.banner-title-description{
    background-image: url(../assets/Hero-bg.png);
    width: 100vw;
    height: 560px;
    display: flex;
    align-items: center;
    
    flex-direction: column;
    /* justify-self: center; */
    
}
.banner{
    /* display: flex; */
    
    margin: 0 26px;
}
.Group{
    margin-top: 26px;
}
.title{
    margin-top: 36px;
    font-size: larger;
    font-weight: bolder;
    padding: 0 200px;
    text-align: center;
}

.description{
    margin-top: 36px;
    padding: 0 400px;
    text-align: center;
    font-weight: lighter;
    
}


.btn button{
    margin-top: 36px;
    padding: 21px 24px;
    background-color: rgba(13, 19, 33, 1);
    border-radius: 8px;
}

.btn a{
    text-decoration: none;
    color: #FFFFFF;
    background-color: rgba(13, 19, 33, 1);
}