@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: "Azeret Mono", monospace;
}
  
html,body{
height: 100%;
width: 100%;
}

.font-color-1{
    color: rgba(13, 19, 33, 1);
}

.font-color-2{
    color: rgba(13, 19, 33, 0.7);
}

.lii ul{
    list-style: none;
}
.lii ul li button{
    padding: 17px 24px;
}
.lii ul li button a{
    text-decoration: none;
    
    /* margin: 20px 30px; */
    /* padding: 17px 24px; */
}
.li{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
    align-items: center;
    
}

.banner-title-description{
    background-image: url(../assets/Hero-bg.png);
    max-width: 100vw;
    height: 560px;
    display: flex;
    align-items: center;
    
    flex-direction: column;
    /* justify-self: center; */
    
}
.banner{
    /* display: flex; */
    
    margin: 0 26px;
}
.Group{
    margin-top: 26px;
}
.title{
    margin-top: 36px;
    font-size: larger;
    font-weight: bolder;
    padding: 0 200px;
    text-align: center;
}

.description{
    margin-top: 36px;
    padding: 0 400px;
    text-align: center;
    font-weight: 100;
    font-size: smaller;
    
}


.btn button{
    margin-top: 36px;
    padding: 21px 24px;
    background-color: rgba(13, 19, 33, 1);
    border-radius: 8px;
}

.btn a{
    text-decoration: none;
    color: #FFFFFF;
    background-color: rgba(13, 19, 33, 1);
}

.main{
    display: flex;
    flex-direction: column;
    margin: 74px 152px;
    padding: 80px 100px;
    
}
.title-1{
    text-align: center;

}
.title-1 h2{
    margin-bottom: 45px;
font-weight: bolder;
}
.title-1 p{
    /* margin-top: 45px; */
    margin: 0 100px;
    font-weight: 100;
    font-size: smaller;
}
.blog{
 /* background-color: #ffb9b9ec; */
}
.blog0{
    margin-top: 48px;
    margin: ;
    align-items: center;
    display: flex;
    padding: 48px;
    /* background-color: #FFFFFF; */
    /* margin: 0 140px; */
    
}
.blog0 p{
    font-weight: 100;
    font-size: smaller;
}
.blog1{
    padding: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
   
}
.blog1 p{
    font-weight: 100;
    font-size: smaller;
}

.blog2{
    padding: 48px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 32px;
   
}

.blog2 p{
    font-weight: 100;
    font-size: smaller;
}
.text-aline{
    text-align: left;
}
.descriptions{
    margin: 0 80px;
}
.margintop-p{
    margin-top: 18px;
}
.margintop-b{
    margin-top: 32px;
}

.btn-1{
    padding: 12px 20px;
    border-radius: 7px;
}

.btn-1 a{
    text-decoration: none;
    color: rgba(13, 19, 33, 1);
}

.inspiration{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.inspiration p{
 color: rgba(13, 19, 33, 1);
 font-weight: lighter;
 font-size: smaller;
 
}
.inspiration iframe{
    padding: 34px;
    border: 2px solid rgba(13, 19, 33, .5);
    border-radius: 8px;
    margin-bottom: 144px;
}
.target{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    height: 50vh;
    /* background-color: red; */
    margin-left: 14%;
}
.title-3{
    text-align: center;
    
} 
.title-3 p{
    margin-top: 20px;
    /* color: rgba(255, 76, 30, 0.05); */
    font-weight: 100;
    font-size: smaller;

}

.card{
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;

}
.card-1{
    width: 30%;
    height: 30vh;
    background-color: rgba(255, 76, 30, 0.05);
    padding: 40px;
    

}
.card-1 p{
    font-weight: 100;
    font-size: smaller;
}
.card-2{
    width: 30%;
    height: 30vh;
    background-color: rgba(0, 76, 232, 0.05);
    padding: 40px;

}
.card-2 p{
    font-weight: 100;
    font-size: smaller;
}
.card-3{
    width: 30%;
    height: 30vh;
    background-color: rgba(255, 223, 0, 0.05);
    padding: 40px;
}
.card-3 p{
    font-weight: 100;
    font-size: smaller;
}